# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse project files
/.classpath
/.project
/.settings/
/target/
/bin/
/tmp/
/build/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.build-impl.xml

# Intellij IDEA
.idea/
*.iws
*.iml
*.ipr
out/
artifacts/

# VS Code
.vscode/

# Maven
target/

# Gradle
.gradle/
/build/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
*.stackdump

# Linux
*~

# Others
*.swp
*.swo
